header {
    background-color: #244751;
    color: #E8FDFF;
}

body {
    background-color: whitesmoke;
    font-family: 'Open Sans', sans-serif;
}

main {
    background-color: white;
    padding: 16px;
}

.finstagram-post {
    margin-bottom: 48px;
}

.finstagram-post .user-info img {
    border-radius: 50%;
}

a.photo {
    transition: padding 0.5s;
}
a.photo:hover {
    padding: 10px;
}


/* 
Desktop first approach (media queries for styling smaller screens)
max-width is no larger than pixel value
    - goes in descending

Mobile first approach (media queries for styling larger screens)
min-widths is no smaller than pixel value
    - goes in ascending
*/




@media screen and (max-width: 768px) {

    main {
        width: 70%;
    }


}


@media screen and (max-width: 500px) {

    main {
        width: 100%;
    }
}